.monthInputField {
  width: max-content;
  min-width: 200px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #0000005b;
  background: var(--input-bg-color);
  color: var(--input-text-color);
  margin-bottom: 4px;
}

/* write it as tailwind */
/* clas="" */

.monthInputField:hover {
  background: var(--input-hover-bg-color);
}
